ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;

  &.fa {
    list-style: none;
  }
}

button {
  border: none;
}

img {
  max-width: 100%;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}