$color-gray-darker: rgb(109,109,109);
$color-gray-dark: rgb(132,132,132);
$color-gray-medium: rgb(216,216,216);
$color-gray-light: rgb(243,243,243);
$color-target-red: rgb(199,23,19);

$border-radius-standard: 2px;

$component-spacer: 20px;